html, body{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .row {
    display: flex;
    /* display: contents; */
    flex-direction: row;
    justify-content: space-between;
}