
.container{
    width: 100%;
    max-width: 100%; /* Modificando esta propiedad podemos asignar cuatro cards en una misma fila poniendo el valor en 100% (1200px para tres cards)*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .row {
    /* display: flex; */
    display: contents;
    flex-direction: row;
    justify-content: space-between;
}