.container{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}